n8n/workflows/distribucion-expensas.json
{
  "name": "Distribución Mensual de Expensas",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 1 * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Cron — día 1 del mes a las 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3001/run-expensas",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.AGENT_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "consorcio_id",
              "value": "={{ $env.DEFAULT_CONSORCIO_ID }}"
            },
            {
              "name": "anio",
              "value": "={{ $now.year }}"
            },
            {
              "name": "mes",
              "value": "={{ $now.month }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "http-agent",
      "name": "Llamar agente de expensas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ]
        }
      },
      "id": "if-success",
      "name": "¿Éxito?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "message": "✅ Expensas {{ $now.format('MMMM yyyy') }} distribuidas correctamente\\n\\n📊 Resumen:\\n• Enviadas: {{ $json.stats.sent }}\\n• Sin email: {{ $json.stats.skipped_no_email }}\\n• Errores: {{ $json.stats.errors }}"
      },
      "id": "log-success",
      "name": "Log — éxito",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 220],
      "notes": "Reemplazar con un nodo de notificación (email, Slack, WhatsApp al admin)"
    },
    {
      "parameters": {
        "message": "❌ Error en distribución de expensas {{ $now.format('MMMM yyyy') }}\\n\\nError: {{ $json.error }}"
      },
      "id": "log-error",
      "name": "Log — error",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 380],
      "notes": "Reemplazar con alerta al administrador"
    }
  ],
  "connections": {
    "Cron — día 1 del mes a las 8am": {
      "main": [
        [
          {
            "node": "Llamar agente de expensas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llamar agente de expensas": {
      "main": [
        [
          {
            "node": "¿Éxito?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Éxito?": {
      "main": [
        [
          {
            "node": "Log — éxito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log — error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["expensas", "automatizacion"]
}
