n8n/workflows/update.json
{"name":"Actualizar Escalas SUTERH","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 1 * *"}]}},"id":"node-trigger","name":"Trigger Mensual","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[240,300]},{"parameters":{"url":"https://suterh.org.ar/planillas-salariales/","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"node-fetch-index","name":"Obtener Índice","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300]},{"parameters":{"jsCode":"const html = $input.first().json.data || '';\n\nlet webhookPeriodo = null;\ntry { webhookPeriodo = $('Webhook Manual').first().json.body?.periodo || null; } catch {}\n\nconst MESES_INV = {\n  '01':'enero','02':'febrero','03':'marzo','04':'abril','05':'mayo','06':'junio',\n  '07':'julio','08':'agosto','09':'septiembre','10':'octubre','11':'noviembre','12':'diciembre'\n};\n\nif (webhookPeriodo) {\n  const parts = webhookPeriodo.split('-');\n  const anio = parts[0];\n  const mes = parts[1].padStart(2, '0');\n  const mesNombre = MESES_INV[mes];\n  if (!mesNombre) throw new Error('Mes invalido: ' + mes);\n  const planillaUrl = 'https://suterh.org.ar/planilla-salarial-' + mesNombre + '-' + anio + '/';\n  return [{ json: { planillaUrl, periodo: anio + '-' + mes + '-01' } }];\n}\n\nconst MESES = {\n  enero:'01', febrero:'02', marzo:'03', abril:'04', mayo:'05', junio:'06',\n  julio:'07', agosto:'08', septiembre:'09', setiembre:'09', octubre:'10',\n  noviembre:'11', diciembre:'12'\n};\n\nconst re = new RegExp(\"href=[\\\"'](https?://suterh\\\\.org\\\\.ar/planilla-salarial-([a-z]+)-(\\\\d{4})/?)[\\\"']\", 'gi');\nconst matches = [...html.matchAll(re)];\nif (matches.length === 0) throw new Error('No se encontraron links de planillas en el indice SUTERH');\n\nconst parsed = matches\n  .map(m => ({ url: m[1].endsWith('/') ? m[1] : m[1] + '/', mesKey: m[2].toLowerCase(), anio: parseInt(m[3], 10) }))\n  .filter(p => MESES[p.mesKey])\n  .map(p => ({ ...p, monthNum: parseInt(MESES[p.mesKey], 10) }))\n  .sort((a, b) => b.anio - a.anio || b.monthNum - a.monthNum);\n\nif (parsed.length === 0) throw new Error('No se pudo parsear ningun link de planilla');\nconst best = parsed[0];\nconst mes = String(best.monthNum).padStart(2, '0');\nreturn [{ json: { planillaUrl: best.url, periodo: best.anio + '-' + mes + '-01' } }];"},"id":"node-extract-url","name":"Extraer URL del Mes","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300]},{"parameters":{"url":"={{ $json.planillaUrl }}","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"node-fetch-planilla","name":"Obtener Planilla","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,300]},{"parameters":{"jsCode":"const html = $input.first().json.data || '';\nconst { periodo, planillaUrl: fuente } = $('Extraer URL del Mes').first().json;\n\nconst extractNumber = (text) => {\n  // Spanish format: 1.089.785 (dots=thousands, comma=decimal)\n  const clean = String(text).replace(/\\./g, '').replace(',', '.');\n  const n = parseFloat(clean);\n  return isNaN(n) ? 0 : n;\n};\n\nconst stripTags = (s) => s.replace(/<[^>]+>/g, '').replace(/&nbsp;/gi, ' ').trim();\n\nconst escalas = [];\nconst adicionales = [];\n\nconst rows = [...html.matchAll(/<tr[\\s\\S]*?<\\/tr>/gi)];\n\nfor (const rowMatch of rows) {\n  const cells = [...rowMatch[0].matchAll(/<t[dh][^>]*>([\\s\\S]*?)<\\/t[dh]>/gi)]\n    .map(m => stripTags(m[1]));\n\n  if (cells.length < 2) continue;\n\n  const label = cells[0];\n  if (!label || /funci.n|concepto|categor.a|header/i.test(label)) continue;\n\n  const nums = cells.slice(1).map(extractNumber);\n  const positiveNums = nums.filter(n => n > 100);\n\n  if (positiveNums.length >= 4) {\n    escalas.push({\n      periodo,\n      funcion: label,\n      cat_1: positiveNums[0],\n      cat_2: positiveNums[1],\n      cat_3: positiveNums[2],\n      cat_4: positiveNums[3],\n      fuente_url: fuente\n    });\n  } else if (positiveNums.length === 1) {\n    adicionales.push({\n      periodo,\n      concepto: label,\n      valor: positiveNums[0],\n      fuente_url: fuente\n    });\n  }\n}\n\nif (escalas.length === 0) {\n  throw new Error(`No se encontraron escalas en ${fuente}. Verificar estructura HTML.`);\n}\n\nreturn [{ json: { escalas, adicionales, periodo, fuente, totalEscalas: escalas.length, totalAdicionales: adicionales.length } }];"},"id":"node-parse","name":"Parsear Escalas","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,300]},{"parameters":{"method":"POST","url":"http://consorcio-portal:3000/api/sueldos/escalas","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ escalas: $json.escalas, adicionales: $json.adicionales }) }}","options":{},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"una_clave_secreta_aleatoria"}]}},"id":"node-save","name":"Guardar en Portal","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,300]},{"id":"node-webhook","name":"Webhook Manual","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,500],"parameters":{"path":"actualizar-escalas","httpMethod":"POST","responseMode":"onReceived"}}],"connections":{"Trigger Mensual":{"main":[[{"node":"Obtener Índice","type":"main","index":0}]]},"Obtener Índice":{"main":[[{"node":"Extraer URL del Mes","type":"main","index":0}]]},"Extraer URL del Mes":{"main":[[{"node":"Obtener Planilla","type":"main","index":0}]]},"Obtener Planilla":{"main":[[{"node":"Parsear Escalas","type":"main","index":0}]]},"Parsear Escalas":{"main":[[{"node":"Guardar en Portal","type":"main","index":0}]]},"Webhook Manual":{"main":[[{"node":"Obtener Índice","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null}